.buscador-container {
    position: relative;
    align-items: center;
    margin: 4rem auto;
    max-width: 600px;
    width: 100%;
}

/* Contenedor del input y botón */
.buscador-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    overflow: hidden;
}

/* Input */
.buscador-input {
    flex: 1;
    padding: 1rem;
    font-size: 16px;
    border: none;
    outline: none;
}

/* Botón dentro del input */
.buscador-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: .7rem;
    transition: transform 0.2s;
}

.buscador-button svg{
    font-size: 2rem;
}

.buscador-button:hover {
    transform: scale(1.1);
}

/* Loader */
.loader {
    display: block;
    margin: 10px auto;
}

/* Resultados */
.alimentos-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.alimento-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.alimento-item:last-child {
    border-bottom: none;
}
