.swin-container, .note-container, .gym-container {
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    max-width: 100%;
    box-sizing: border-box;
}

.pages-container h2{
    margin: 2rem 1rem;
    font-size: 1.8rem;
}

/* Cartas de rutinas */

.list-routine {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 18px;
    margin: 1.2rem auto;
    padding: 1.2rem;
}



.note-card {
    background: rgb(252, 250, 250);
    padding: 1rem;
    height: 100%;
    min-width: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note-card:hover {
    transform: translateY(-1px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}
.buttons {
    position: absolute;
    top: 12px;
    right: 10px;
    display: flex;
    gap: 18px;
}

.container-routine{
    margin-top: 1rem;
    padding: 1rem;
}

.title{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.title h4{
    margin: 0 1rem;
    font-size: 1.2rem;
}

.check{
    margin-left: 1rem;
    margin-right: 1rem;
}

.cancel{
    margin-right: .7rem;
}

.buttons .icon {
    background: none;
    border: none;
}

.button-plus {
    margin-left: auto;
    background: none;
    border: none;
    position: absolute;
    right: 18px;
    display: flex;
}

.routine{
    margin: 1.2rem auto;
}

 h4{
    font-size: 1.2rem;
}

/* Rutina interna */
.routine-container{
    margin: .3rem auto;
}

.new-routine-input{
    background: none;
    border: none;
    right: 18px;
    display: flex;
}

.routine-plus {
    background: none;
    border: none;
    margin:0 1rem ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.routine-plus:hover{
    transform: translateY(-1px);
    background-color: #c4c0c0;
}


/* Contenedor de conteo */
.container-data{
    margin: 2rem 0;
}
.container-data p{
    margin: 1rem 0;
}

.km{
    font-weight: 600;
}

.edit {
    color: rgb(7, 7, 7);
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.edit:hover {
    color: rgb(121, 121, 121);
}

.check {
    color: rgb(18, 18, 210);
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.check:hover {
    color: rgb(7, 7, 128);
}

.cancel {
    color: rgb(161, 14, 14);
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.cancel:hover {
    color: rgb(233, 18, 18);
}

.delete {
    color: rgb(255, 0, 0) !important;
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.delete:hover {
    color: darkred;
}




@media (max-width: 450px){
    .note-card{
        min-width: 360px;
    }
}


/* Input de busqueda */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Listado de ejercicios */
.exercises-list {
    display: flex;
    flex-wrap: wrap;
}

.exercise-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
}


/* Input y botón de agregar */
.input-notas {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.input-notas input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-add {
    background: blue;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}



/* Tabla de notas */
.notas-table {
    width: 100%;
}

.nota-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.nota-row button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.trash {
    color: red;
}



/* Estilos para el input de Material-UI */


.custom-input .MuiInput-underline:before {
    border-bottom: 2px solid #ccc; /* Color del borde inferior */
}

.custom-input .MuiInput-underline:hover:before {
    border-bottom: 2px solid #8e13d4; /* Color del borde al pasar el mouse */
}

.custom-input .MuiInput-underline:after {
    border-bottom: 2px solid #8e13d4; /* Color del borde al enfocar */
}





/* .inputs-workout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 12px auto;
    padding: 0 1rem;
    gap: 18px;
}

.inputs-workout input,select{
    flex: 1 1 100%;
    padding: .8rem;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.boton-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 2.8rem 1rem ;
}

.add, .clean{
    padding: 12px;
    margin-right: 1.8rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.add {
    background-color: #2ecc71;
}

.add:hover {
    background-color: #27ae60;
}

.clean {
    background-color: #7a2ecc;
}

.clean:hover {
    background-color: #5d1ebc;
} */


/* Modal - Cuerpo */
/* .modal-body {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.modal-body input {
    font-size: 1rem;
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
}

.modal-body input:focus {
    border-bottom: 2px solid #9b09de;
  }

  .modal-body button{
    width: 50%;
    padding: 10px;
    margin: 1rem auto;
    background-color: #ffffff;
    color: #060606;
    border: 1px groove rgba(0, 0, 0, 0.9);
    border-radius: 18px;
    cursor: pointer;
    font-size: 1rem;
}

   */